## Deliverable 3. Create a Travel Itinerary Map.

In [22]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import csv
import os

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [23]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()
 
file_to_load = os.path.join('..', 'Vacation_Itinerary', 'WeatherPy_vacation.csv')
vacation_df = pd.read_csv(file_to_load)
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,4,Butaritari,KI,80.01,light rain,3.0707,172.7902,Isles Sunset Lodge
1,6,Hermanus,ZA,89.01,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
2,7,Cape Town,ZA,78.80,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
3,8,Trelew,AR,76.08,clear sky,-43.2490,-65.3051,Hotel Touring Club
4,13,Sibolga,ID,81.55,light rain,1.7427,98.7792,Hotel Syariah CN Darussalam

In [24]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [25]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.



vacation_start = vacation_df.loc[vacation_df['City'] == 'Iracemapolis']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Iracemapolis']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Saquarema']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Campos'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Caravelas'] 

vacation_stop3 #your lat/long between cities will not move that much

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
84,276,Caravelas,BR,76.35,moderate rain,-17.7125,-39.2481,Pousada dos Navegantes

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()
stop3

array([-17.7125, -39.2481], dtype=object)

In [26]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
#I DON'T REMEMBER COVERING THIS IN CLASS AT ALL
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

locations = vacation_df[["Lat", "Lng"]]

In [35]:
fig = gmaps.figure(center=(-17.0, -39.00), zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

Iracemapolis = start
Saquarema = stop1
Campos = stop2
Caravelas = stop3 

marker_layer = gmaps.directions_layer(Iracemapolis, Iracemapolis, 
                                  waypoints=[Saquarema, Campos, Caravelas],
                                  travel_mode="DRIVING")


fig.add_layer(roadtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,34,Iracemapolis,BR,75.00,few clouds,-22.5806,-47.5186,Lazuli
1,296,Saquarema,BR,77.00,few clouds,-22.9200,-42.5103,Hotel Fazenda Sol e Lua
2,358,Campos,BR,77.00,few clouds,-21.7500,-41.3000,Palace Hotel - Campos dos Goytacazes
3,276,Caravelas,BR,76.35,moderate rain,-17.7125,-39.2481,Pousada dos Navegantes

In [47]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(-20.0, -40.0), zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
#fig.add_layer(marker_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))